{%- block navbar -%}
    <nav class="navbar">
        <div class="navbar-left">
        </div>

        <div class="navbar-right">
            <a class="navbar-link" id="home-link" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='icons/home.svg') }}" alt="Home" class="navbar-icon svg-white">
            </a>

            <a class="navbar-link" id="settings-link" href="{{ url_for('main.settings') }}">
                <img src="{{ url_for('static', filename='icons/cog.svg') }}" alt="Settings" class="navbar-icon svg-white">
            </a>
            
        </div>
    </nav>
{%- endblock -%}