{%- import "elements/buttons.html.j2" as buttons -%}

{%- macro text_input(label, id, placeholder) -%}
    <div class="form-group">
        <label for="{{ id }}">{{ label }}</label>
        <input type="text" id="{{ id }}" name="{{ id }}" placeholder="{{ placeholder }}" class="form-control">
    </div>
{%- endmacro -%}

{%- macro password_input(label, id, placeholder, onclick=None) -%}
    <div class="form-group">
        <label for="{{ id }}">{{ label }}</label>
        
        <div class="input-group">
            <input type="password" id="{{ id }}" name="{{ id }}" placeholder="{{ placeholder }}" class="form-control">
            {{- buttons.contained_button("Save", id="save-{{ id }}", onclick=onclick) -}}
        </div>

    </div>
{%- endmacro -%}